.admin-page-container
  .row
    .large-12.columns
      %h1 Kula System Administration
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      %p Please select from the menu on the left
