footer {
	padding-top:20px;
	background-color:$dark-gray;
	color:$light-gray;
	a {color:#efefef;}
	h4 {color:#aaa;}
}

.newsletter {
	background-color:white;
	h4 {line-height:0.5em;}
	.input {padding-top:20px;}
}