%footer
  .row.large-12.columns.footer-div
    .large-4.columns.tap-footer
      %ul.inline-list.left
        -#
          %li
            © 2015 Kula Causes
    .large-4.columns.tap-footer
      %ul.inline-list.right
        -#
          %li
            = link_to 'Legal Notices', legal_path
          %li
            = link_to 'Privacy Policy', privacy_path
